span {
    color: red;
}

h1 {
    font: size 70%;
}

h2 {
    font-size: 4o%;
}

section {
    display: flex;
}

.two-section {
    width: 50%;
    padding-left: 5%;
}

.two-section img {
    width: 50%;
}

.line-block {
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
}